/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/*END OF CSS RESET*/

body {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	color: rgb(85, 84, 84);
}

nav {
	width: 100%;
	height: 50px;	
	margin: 15px 15px 15px 15px;
}
nav li {
	display: inline;
	padding: 5px;
}
nav ul.left {
	float: left;
}
nav ul.right {
	float: right;
	margin-right: 30px;
}
/* offset position of "About" and "Store" nav links */
.offset2 {
	position: relative;
	top: 8px;
	left: 3px;
}
/* offset position of "Gmail" and "Images" nav links */
.offset {
	position: relative;
	bottom: 13px;
	right: 10px;
}

/* logo and search bar/buttons */
.container {
	width: 500px;
	margin: auto;
	position: relative;
	top: 175px;
	left: 70px;
}
#logo {
	width: 70%;
	margin: auto;
}
input {
	width: 100%;
	height: 35px;
	position: relative;
	bottom: 35px;
	right: 80px;
}
#mic {
	position: absolute;
	left: 390px;
	bottom: 87px;
	z-index: 10;
}
div.searchButtons div {
	display: inline-block;
	position: relative;
	left: 40px;
	bottom: 15px;
	padding: 10px;
	margin: 5px;
	font-size: 10pt;
	font-weight:bold;
	color: grey;
	background-color: rgb(242, 242, 242); 	
}

/* bottom nav bar */
footer {
	width: 100%;
	padding: 15px;
	position: fixed;
	bottom: 0;
	background-color: rgb(242, 238, 238);	
}
footer li {
	display: inline;
	padding: 10px;
}
footer ul.left {
	float: left;
}
footer ul.right {
	float: right;
}
/* padding correction of settings list item */
li.settings {
	padding-right: 40px;
}
